/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
    section main {
        text-align: center;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after, Referencias 
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
/*///////////////////////////////////////////////////////////////////////
                                    GERAL
///////////////////////////////////////////////////////////////////////*/
HTML{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #89bdd6;
    width: 100%;
    height: 100%;
    color: white;
}
a{
    color: black;
    text-decoration: none;
}
main {
	margin: 0 2vw 0 2vw;
    font-size: calc(10px + 1vw);
}

ul li a {
    text-decoration: none;
    color:white;
}
.botao{
    background-color: white;
    border-radius: 3vw;
    padding: 0.5vw;
    color: black;
    transition: 1s;
}
.botao:hover{
    border: white solid;
    background-color: black;
    color: white;
}
/*///////////////////////////
            Header
///////////////////////////*/
header{
    margin: 0 2vw;
    padding: 1.5vw;
    border-radius:  0 0 4vw 4vw;
    background-color: #29586c;
    display: flex;
    justify-content: space-between;
}
header div.logoUET a img{
    background-color: white;
    border-radius: 10vw;
}
/*Barra lateral*/
.sidebar{
    position: fixed;
    right: -270px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #29586c;
    padding-top: 60px;
    transition: 0.3s;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
    border: black solid;
    border-radius: 1vw 0 0 1vw;
}
.sidebar a{
    display: block;
    margin: 1vw 1vw 1vw 0.5vw;
    padding: 2vw;
    background-color: black;
    color: white;
    transition: 1s;
}
.sidebar a:hover{
    background-color: #89bdd6;
    color: black;
    border: none;
}
/*Botão da barra lateral*/
.menu-btn {
    margin: 3vw;
    background-color:white;
    color: black;
    padding: 1vw 2vw;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
}
.menu-btn:hover{
    background-color: #89bdd6;
}


div.banner{
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("https://www.termometrodapolitica.com.br/base/wp-content/uploads/c860e85a7d1c8992375e73dcb82e6128.jpeg");
    height: 40vw;
   background-size: 100vw;


   border: 3px solid black;
   border-radius: 1vw;
}

header div h4{
    color: white;
    margin-top: 4vw;
    font-size: calc(15px + 1vw);
}

/*///////////////////////////////////////////////////////////////////////
                                    CONTEUDO
///////////////////////////////////////////////////////////////////////*/
main section.rotine div.alt {
    margin: 6vw 0 3vw 0;  
}
main section.rotine h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    margin-bottom: 2vw;
    color: white;
    background-color: #29586c;
    padding: 1.5vw;
    border-radius: 4vw;
    margin: 2vw;
}
main section.rotine div.text p {
    margin-bottom: 2vw;
    background-color: #29586c;
    border-radius: 20px;
  
    justify-content: left;
    padding: 5vw 2vw 5vw 2vw;
    color: white;
    font-family:'Times New Roman', Times, serif ;
}
main section.rotine div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke  ;
    border-radius: 20px;
    text-align: center;
}
main section.rotine div ul li {
    width: 40%;
    background-color: #29586c;
    border-radius: 20px;
    margin: 2vw 2vw 2vw 2vw;
}
main section.rotine div ul li h2 {
    font-weight: bold;
    font-size: 3rem;
    padding: 1vw 1vw;
    color: white;
    font-family:'Times New Roman', Times, serif ;
    
    
}
main section.rotine div ul li a img {
    border-radius: 1vw;
}
main section.rotine div ul li p {
    text-align: left;
    color: white;
    padding: 1vw 2vw 3vw 2vw;
}
/*////////////////////////////////////////////////////////////////////
                                Footer
////////////////////////////////////////////////////////////////////*/
footer{
    padding: 2vw 0 3vw 0;
    text-align: center;
    background-color: #29586c;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 4vw 4vw 0 0;
    margin: 2vw;
}
footer ul.icon{
    display: flex;
    justify-content: center;
    

}
footer ul.icon li{
    padding: 10px 10px 10px 10px;
    
    
}
footer p a{
    color: white;
}

/* //////////////////////////// 
        Responsividade
/////////////////////////////*/
@media (max-width: 600px){

    /* ///////////////////// 
            Header
    /////////////////////*/
    header{
        display: block;
        justify-content: center;
        text-align: center;
    }
    header nav{
        display: block;
        justify-content: center;
    }
    header nav ul{
        display: block;
        justify-content: center;
    }
    header nav ul li{
        padding: 1.7vw;
    }
    main img{
        width: 100%;
    }
    iframe{
      width: 100%
      
    
    }
    body{
        width: 100%;
        
        
    }
    ul li.video{
        padding: 0 5vw 0 5vw;
    }
   
    main p{
        font-size: 1rem;
        letter-spacing: 0.05em;
        line-height: 1.3rem;
        
        text-align: left;
    }
   
    main section.rotine div ul li h2{
        font-size: 1.5rem;
    }
    /*////////////////////////
            conteudo
    ////////////////////////*/
}
