/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////
            Geral
///////////////////////////*/

a {
    text-decoration: none;
    color:white;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*///////////////////////////
            Header
///////////////////////////*/
header nav ul li{
    position: relative;
    
}
header nav ul li:hover{
    top: -8px;
    box-shadow: 0 2px 2px #666;
    border: none;
}
header div.burro{
    margin-top: 10px;
}

header nav ul li.cor{
    color:black;
}
#cor{
    color: black;
}
header{
    background-image: linear-gradient(to right, #74dbba, #74b9db);
    display: flex;
    justify-content: space-between;
    
}
header nav{
    display: flex;
    justify-content: left;
}
header nav ul{
    display: flex;
    margin: 37px;
}
header nav ul li{
    padding: 0px 10px 10px 10px;
}

header nav ul li:hover{
    background-color:#3e90b9;
    border-radius: 20px;
    
}
div.banner{
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("");
    height: 40vw;
   background-size: 100vw;
}
/*///////////////////////////
            Topo
///////////////////////////*/
section main {
    text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*///////////////////////////
            Geral
///////////////////////////*/

a {
    text-decoration: none;
    color:white;
}

/*///////////////////////////
            Header
///////////////////////////*/

header nav ul li.cor{
    color:black    ;
}
#cor{
    color:black   ;
}
header{
    background-image: linear-gradient(to left, #74dbba, #74b9db);
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    justify-content: left;
}
header nav ul{
    display: flex;
    margin: 37px;
}
header nav ul li{
    padding: 0px 10px 10px 10px;
}
header a img{
    padding: 0 40px 0 40px
}

div.banner{
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url("");
    height: 40vw;
   background-size: 100vw;
   border-bottom: solid black 6vw;
}
/*///////////////////////////
            Topo
///////////////////////////*/
main {
    margin: 0 10vw 0 10vw;
}
section.s5 h1 {
    text-align: center;
    font-size: 3rem;
    margin: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin: 5vw;
    
}
section.s5 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 7vw;
    line-height: 2rem;
}
section.s5 p.p9{
    font-size: 1.4rem;
    margin-bottom: 4vw;
}
section.s5 div.imgtext{
    display: flex;
    margin-left: 100px;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    text-wrap: pretty;

}
section.s5 div.p1 p{
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: left;
    gap: 20px;
    
}
main h4{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0;
    
}
main section.s0 div.por{
    display: flex;
    gap: 10vw;
    align-items: center;
    margin-bottom: 5vw;
}

main section.s0 ul li{
    padding-bottom: 20px;
    font-size: 25px;

}
    
main section.s0 div.por img{
    font-size: 50px;
    
}
p::first-letter{
    padding-left: 1.5rem;
}
/*///////////////////////////
            Footer
///////////////////////////*/
footer{
    padding: 2vw 0 3vw 0;
    text-align: center;
    background-image: linear-gradient(to left, #74dadb, #74db97);
    color:  #ffffff;
    border-color: #ffffff;
    border-top: 2.5vw solid #ffffff;
    border-image: linear-gradient(to left, #74dadb, #74db97);
}
footer ul.icon{
    display: flex;
    justify-content: center;
}
footer ul.icon li{
    padding: 10px 10px 0 10px;
}